        [HttpPost]
        [Route("SCHEDULED_INSPECTION_REVIEW")]
        public async Task<IActionResult> SCHEDULED_INSPECTION_REVIEW(dynamic data)
        {
            IActionResult response = Unauthorized();
            try
            {
                string value = JsonConvert.SerializeObject(data);
                Task WriteTask = Task.Factory.StartNew(() => Logfile.Write_Log(saPathToSave, "SheduledInspectionReview", "GetLoginSheduled : Input Data : " + value));
                MasterSp rootobj = JsonConvert.DeserializeObject<MasterSp>(value);
                return Ok(await _hel.SCHEDULED_INSPECTION_REVIEW(rootobj));
            }
            catch (Exception ex)
            {
                response = Ok(new
                {
                    StatusCode = 102,
                    StatusMessage = "Error Occured while Get Sheduled Inspection Review Details"
                });
                return response;
            }
        }
		
		public async Task<dynamic> SCHEDULED_INSPECTION_REVIEW(MasterSp rootobj)
        {
            try
            {
                rootobj.DIRECTION_ID = "8";
                rootobj.TYPEID = "SCHEDULE_REVIEW";

                DataTable dt = await APSWCMasterSp(rootobj);
                if (dt != null && dt.Rows.Count > 0 && dt.Rows[0][0].ToString() == "1")
                {
                    resultobj.StatusCode = 100;
                    resultobj.StatusMessage = "Data Loaded Successfully";
                    resultobj.Details = dt;
                }
                else
                {
                    resultobj.StatusCode = 102;
                    resultobj.StatusMessage = dt.Rows[0][1].ToString();
                }
                return resultobj;
            }
            catch (Exception ex)
            {
                string jsondata = JsonConvert.SerializeObject(ex.Message);
                string inputdata = JsonConvert.SerializeObject(rootobj);
                Task WriteTask = Task.Factory.StartNew(() => Logfile.Write_Log_Exception(exPathToSave, "SheduledInspectionReview : Method:" + jsondata + " , Input Data : " + inputdata));

                resultobj.StatusCode = 102;
                resultobj.StatusMessage = "Error Occured while Get Sheduled Inspection Review Details";
                return resultobj;
            }
        }